<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    Amazing {{title4}}
</h2>

  <p *ngIf="heroes.length > 3">There are many heroes!</p>
</div>
<div class="row">
<div class="col-md-2"></div>
<p>Heroes:</p>
<ul>
  <li *ngFor="let hero of heroes">
    {{ hero }}
  </li>
</ul>
{{title3}}
<span [hidden]="isUnchanged">changed</span>
</div>

<app-navbar></app-navbar>


